@keyframes slide {
    from {
        background-position: 0%;
    }
    to {
        background-position: 100000%;
    }
}

.background {
    z-index: -1;

    width: 100vw;
    height: 100vh;

    background: linear-gradient(45deg, #ba9b4a 26%, #42b7c7 75%);
}

.layer {
    width: 100%;
    height: 100%;
}

.zero {
    background: url("/public/layer0.svg");
    background-size: auto 100%;
    animation: slide 10000s infinite linear;
}

.one {
    background: url("/public/layer1.svg");
    background-size: auto 100%;
    animation: slide calc(10000s / 2) infinite linear;
}

.two {
    background: url("/public/layer2.svg");
    background-size: auto 100%;
    animation: slide calc(10000s / 3) infinite linear;
}

.three {
    background: url("/public/layer3.svg");
    background-size: auto 100%;
    animation: slide calc(10000s / 4) infinite linear;
}

.four {
    background: url("/public/layer3.svg");
    background-size: auto 100%;
    animation: slide calc(10000s / 5) infinite linear;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}
